@tailwind base;

@tailwind components;

@font-face {
  font-family: 'Roboto Mono';
  font-display: swap;
  src: url('/fonts/roboto-mono.woff2') format('woff2'),
       url('/fonts/roboto-mono.woff') format('woff'),
       url('/fonts/roboto-mono.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Mono';
  font-display: swap;
  src: url('/fonts/dm-mono.woff2') format('woff2'),
       url('/fonts/dm-mono.woff') format('woff'),
       url('/fonts/dm-mono.ttf') format('truetype');
}

@font-face {
  font-family: 'Gochi Hand';
  font-display: swap;
  src: url('/fonts/gochi-hand.woff2') format('woff2'),
       url('/fonts/gochi-hand.woff') format('woff'),
       url('/fonts/gochi-hand.ttf') format('truetype');
}

@font-face {
  font-family: 'Proza Libre';
  font-display: swap;
  src: url('/fonts/proza-libre.woff2') format('woff2'),
       url('/fonts/proza-libre.woff') format('woff'),
       url('/fonts/proza-libre.ttf') format('truetype');
}

#__next {
  font-family: 'Roboto Mono', monospace;
  min-height: -webkit-fill-available;
  @apply flex flex-col max-w-full bg-gray-800 text-white;
}

#logo {
  font-family: 'DM Mono', monospace;
}

#salute {
  font-family: 'Gochi Hand', cursive;
}

#heading {
  font-family: 'Proza Libre', sans-serif;
}

@tailwind utilities;